.skate {
    width: 300px;
    height: 450px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
}

.skate img {
    width: 286px;
    height: 286px;
    border-radius: 8px;
    margin: 7px;
}

.skate-info {
    margin: 0 14px;
}

.skate-info p {
    margin-bottom: 0;
}

.skate-name {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    margin-top: 7px;
}

.btn-cart {
    width: 100%;
    color: #fff;
    background-color: rgb(94, 105, 245);
    border: none;
    border-radius: 0px 0px 8px 8px;
    transition: 0.5s;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-cart .btn-text {
    margin-right: 5px;
}

.btn-cart:hover {
    background-color: rgb(159, 158, 238);
    color: blue;
    /* color: #fff; */
}

.btn-cart p {
    font-weight: 700;
}