body {
    width: 80%;
    margin: 40px auto;
    background-color: rgb(232, 232, 255);
}

.banner-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 80px 0;
}

.banner-text {
    display: grid;
    align-content: center;
    justify-items: start;
}

.banner-text h1 {
    margin: 0;
    font-size: 54px;
    font-weight: bold;
}

.banner-text .second-text {
    color: blue;
}

.banner-text .banner-btn {
    padding: 20px 40px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(164, 164, 252);
    color: rgb(35, 0, 161);
    border: 2px solid rgb(164, 164, 252);
    cursor: pointer;
    border-radius: 8px;
    transition: 0.2s;
}

.banner-btn:hover {
    background-color: transparent;
    border: 2px solid rgb(35, 0, 161);
}

@media screen and (max-width: 1100px) {
    .banner-section {
        display: block;
    }

    .banner-section img {
        width: 500px;
        margin-top: 50px;
    }
}

@media screen and (max-width: 667px) {
    .banner-section {
        display: block;
    }

    .banner-text {
        display: block;
    }

    .banner-section img {
        width: 390px;
        margin-top: 50px;
    }
}