body {
    width: 80%;
    margin: 0 auto;
}

.banner-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 80px 0;
}

.banner-text {
    display: grid;
    align-content: center;
    justify-items: start;
}

.banner-text h1 {
    margin: 0;
}


@media screen and (max-width: 667px) {
    .banner-section {
        display: block;
    }

    .banner-text {
        display: block;
    }

    .banner-section img {
        width: 390px;
        margin-top: 50px;
    }
}